Repository CodeStrong2023/TercerSemestreCodiPro, pull requests merged in 2024-07, with the labels that each got.

#193 🤖Prácticas Chatbot y AI
  BalmacedaAV/OrganizacionContable/chatbot/.idea/.gitignore
  BalmacedaAV/OrganizacionContable/chatbot/.idea/chatbot.iml
  BalmacedaAV/OrganizacionContable/chatbot/.idea/inspectionProfiles/Project_Default.xml
  BalmacedaAV/OrganizacionContable/chatbot/.idea/inspectionProfiles/profiles_settings.xml
  BalmacedaAV/OrganizacionContable/chatbot/.idea/misc.xml
  BalmacedaAV/OrganizacionContable/chatbot/.idea/modules.xml
  BalmacedaAV/OrganizacionContable/chatbot/.idea/vcs.xml
  BalmacedaAV/OrganizacionContable/chatbot/Chatbot.py
  BalmacedaAV/OrganizacionContable/chatbot/Chatbot2.py
  BalmacedaAV/OrganizacionContable/chatbot/intents.json
  EjerciciosFabri/Java3ersem/d
  EjerciciosFabri/Javascript3ersem/TSLeccion01/01-03-ciclos.js
  EjerciciosFabri/Javascript3ersem/TSLeccion01/EjercicioCiclos.js
  EjerciciosFabri/Javascript3ersem/TSLeccion02/02-03-arreglos.js
  EjerciciosFabri/Javascript3ersem/c
  EjerciciosFabri/Python3ersem/b
  EjerciciosFabri/a
Labels: OC

#195 🤖Prácticas Chatbot y AI
  BalmacedaAV/OrganizacionContable/chatbot/Readme_Chatbot.txt
  BalmacedaAV/OrganizacionContable/chatbot/Readme_Chatbot2.txt
  BalmacedaAV/OrganizacionContable/chatbot/Wiki_Chatbot.txt
  BalmacedaAV/OrganizacionContable/chatbot/Wiki_Chatbot2.txt
Labels: Python, OC, chatbot, AI, readme, wiki

#198 Agrego clases 10,11 de Python y Java y clases 06,07,08 de Javascript
  EjerciciosFabri/Java3ersem/Clase10Java/ListarPersonas/.gitignore
  EjerciciosFabri/Java3ersem/Clase10Java/ListarPersonas/.idea/.gitignore
  EjerciciosFabri/Java3ersem/Clase10Java/ListarPersonas/.idea/misc.xml
  EjerciciosFabri/Java3ersem/Clase10Java/ListarPersonas/.idea/modules.xml
  EjerciciosFabri/Java3ersem/Clase10Java/ListarPersonas/.idea/uiDesigner.xml
  EjerciciosFabri/Java3ersem/Clase10Java/ListarPersonas/ListarPersonas.iml
  EjerciciosFabri/Java3ersem/Clase10Java/ListarPersonas/src/ListadoPersonasApp.java
  EjerciciosFabri/Java3ersem/Clase10Java/ListarPersonas/src/Persona.java
  EjerciciosFabri/Java3ersem/Clase10Java/Persona.uxf
  EjerciciosFabri/Java3ersem/Clase11Java/SistemaEstudiantes/.gitignore
  EjerciciosFabri/Java3ersem/Clase11Java/SistemaEstudiantes/.idea/.gitignore
  EjerciciosFabri/Java3ersem/Clase11Java/SistemaEstudiantes/.idea/encodings.xml
  EjerciciosFabri/Java3ersem/Clase11Java/SistemaEstudiantes/.idea/misc.xml
  EjerciciosFabri/Java3ersem/Clase11Java/SistemaEstudiantes/pom.xml
  EjerciciosFabri/Java3ersem/Clase11Java/SistemaEstudiantes/src/main/java/UTN/Main.java
  EjerciciosFabri/Java3ersem/Clase11Java/SistemaEstudiantes/src/main/java/UTN/conexion/Conexion.java
  EjerciciosFabri/Java3ersem/Clase11Java/SistemaEstudiantes/src/main/java/UTN/datos/EstudianteDAO.java
  EjerciciosFabri/Java3ersem/Clase11Java/SistemaEstudiantes/src/main/java/UTN/dominio/Estudiante.java
  EjerciciosFabri/Javascript3ersem/TSLeccion06,07,08/05-03-clases.js
  EjerciciosFabri/Javascript3ersem/TSLeccion06,07,08/diagrama.uxf
  EjerciciosFabri/Javascript3ersem/TSLeccion06,07,08/index.html
  EjerciciosFabri/Python3ersem/Clase10y11Python/.idea/.gitignore
  EjerciciosFabri/Python3ersem/Clase10y11Python/.idea/Clase 10 Python.iml
  EjerciciosFabri/Python3ersem/Clase10y11Python/.idea/inspectionProfiles/Project_Default.xml
  EjerciciosFabri/Python3ersem/Clase10y11Python/.idea/inspectionProfiles/profiles_settings.xml
  EjerciciosFabri/Python3ersem/Clase10y11Python/.idea/misc.xml
  EjerciciosFabri/Python3ersem/Clase10y11Python/.idea/modules.xml
  EjerciciosFabri/Python3ersem/Clase10y11Python/acessodatos.uxf
  EjerciciosFabri/Python3ersem/Clase10y11Python/capa_datos_persona/Persona.py
  EjerciciosFabri/Python3ersem/Clase10y11Python/capa_datos_persona/__init__.py
  EjerciciosFabri/Python3ersem/Clase10y11Python/capa_datos_persona/__pycache__/Persona.cpython-312.pyc
  EjerciciosFabri/Python3ersem/Clase10y11Python/capa_datos_persona/__pycache__/__init__.cpython-312.pyc
  EjerciciosFabri/Python3ersem/Clase10y11Python/capa_datos_persona/__pycache__/conexion.cpython-312.pyc
  EjerciciosFabri/Python3ersem/Clase10y11Python/capa_datos_persona/__pycache__/cursor_del_pool.cpython-312.pyc
  EjerciciosFabri/Python3ersem/Clase10y11Python/capa_datos_persona/__pycache__/logger_base.cpython-312.pyc
  EjerciciosFabri/Python3ersem/Clase10y11Python/capa_datos_persona/capa_datos.log
  EjerciciosFabri/Python3ersem/Clase10y11Python/capa_datos_persona/conexion.py
  EjerciciosFabri/Python3ersem/Clase10y11Python/capa_datos_persona/cursor_del_pool.py
  EjerciciosFabri/Python3ersem/Clase10y11Python/capa_datos_persona/logger_base.py
  EjerciciosFabri/Python3ersem/Clase10y11Python/capa_datos_persona/persona_dao.py
Labels: JavaScript, Java, Python

#199 Agrego clases 09 y 10 de Javascript
  EjerciciosFabri/Javascript3ersem/TSLeccion09/Cliente.js
  EjerciciosFabri/Javascript3ersem/TSLeccion09/Empleado.js
  EjerciciosFabri/Javascript3ersem/TSLeccion09/Persona.js
  EjerciciosFabri/Javascript3ersem/TSLeccion09/PruebaPersonas.js
  EjerciciosFabri/Javascript3ersem/TSLeccion10/SistemaVentas.js
  EjerciciosFabri/Javascript3ersem/TSLeccion10/sistema_ventas.uxf
Labels: JavaScript
